.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
}
.a-right{
    flex:1;
}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;

}
.a-img{
    width: 100px;
}